{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'people'%}" >Лица НИИ</a>
        <a href="{% url 'reviews'%}">Отзывы</a>
        <a href="{% url 'doctors' %}" class='selected'>Наши врачи</a>
        <a href="{% url 'teachers'%}">Наши педагоги</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Докторы' %}:</span>
        <div>
            <div class="rule-plates">
                <div class = "person-list">
                    {% for person in doctors %}
                    <div class="person">
                        <div class = "person-info">
                            <div class = "person-photo" style = "background: url(../../../media/{{person.image}});">
                                
                            </div>
                            <h4>{{ person.name }}</h3>
                            <p>{{ person.post }}</p>
                            
                        </div>
                        <a href="{% url 'person_detail' pid=person.pk %}">Подробнее</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}